PORT=4000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=snowy_ventas_db
DB_SSL=false
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES_IN=1h  
SYSTEM_API_TOKEN=super_secret_api_token
FRONTEND_URL=http://localhost:5173
